.btn{
    display: inline-block;
    padding: 8px 16px;
    @include font(18px, 24px, 500);
    color: #fff;
    background-color:  #8C32FF;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: none;

}